*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.hero {
    width: 100%;
    min-height: 12rem;
    background-image: linear-gradient(#B89E77, #d0d3ce);
    background-size: cover;
    background-position: center;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

}

.logo{
    color: #18411d;
    font-size: 28px;
    padding-right: 40px;
}

img{
    width: 80px;
}

span{
    color: white;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #18411d;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #5DA132;
    transition: .3s;
}

.new-post-btn {
    border: none;
    background: #BE0E0E;
    white-space: nowrap;
    padding: 12px 30px;
    margin-right: .5em;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s; 
}

.new-post-btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.logregbutton{
    border: none;
    background: linear-gradient(#10370F,#52B92D);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s; 
}

.logregbutton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.post {
    margin: 1em 2em;
    background-color: #EEE;
    padding: .5em;
    border-radius: 10px;
    border: 1px solid #333;
}

.post a {
    text-decoration: none;
    color: black;
}